body {
  background-color: #517288;
}
header {
  margin-top: 20px;
  text-align: center;
}
header h1 {
  color: #94D1F9;
  font-family: 'Changa One', cursive;
  font-size: 4em;
  margin: 0;
}
header p {
  font-family: Helvetica, Arial, sans-sarif;
  font-size: 1em;
  margin: 0;
  text-transform: lowercase;
}
section#main {
  margin: 20px;
  text-align: center;
}
section#main object {
  margin: 10px;
}
