body {
  background-color: #F2E1C2;
  margin: 0;
}
/* #### HEADER AND PRIMARY NAVIGATION #### */
header#blog-header {
  background-color: #3F4036;
  padding: 15px 0 0 0;
}
header#blog-header h1 {
  color: #F2E1C2;
  margin: 0;
  text-align: center;
}
nav#primary {
  background-color: #8DA681;
  margin: 15px 0 0 0;
  padding: 5px 0 5px 10px;;
}
nav#primary ul {
  margin: 0;
  padding: 0;
}
nav#primary ul li {
  display: inline;
  padding: 0 10px 0 0;
}
nav#primary ul li a {
  color: #8C1D04;
  font-size: 1.1em;
  font-weight: normal;
  text-decoration: none;
}
/* #### PAGE WRAPPER #### */
div#page {
  display: inline-block;
  width: 100%;
}
/* #### CONTENT AREA  #### */
section#main {
  float: left;
  margin: 10px 0 0 10px;
  width: 70%;
}
section#main article header h1 {
  margin: 0;
}
section#main article header p {
  font-style: italic;
  margin: 0;
}
section#main article p {
  margin: 0 0 20px 0;
}
/* #### SIDEBAR ASIDE AREA  #### */
#sidebar {
  background-color: #3F4036;
  float: right;
  min-height: 550px;
  padding: 0 2% 2% 2%;
  width: 20%;
}
#sidebar h2 {
  color: #E3CDA4;
  margin: 10px 0 0 0;
}
#sidebar ul {
  list-style-type: none;
  margin: 3px 0 10px 0;
  padding: 0 0 0 10px;
}
#sidebar ul li a {
  color: #CCC;
  text-decoration: none;
}
#sidebar ul li a:hover {
  text-decoration: underline;
}
